<div class="surface-card shadow-2 border-round p-4 mt-3">
    <div class="flex justify-content-between align-items-center mb-5">
        <span class="text-xl text-900 font-semibold">User's Schedule</span>
    </div>
    <div class="flex md:flex-row flex-column flex-wrap card-container">
        <div
            class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border md:mx-2 my-2"
            style="border-radius: 6px"
        >
            <div
                class="flex align-items-center justify-content-center flex-column text-800 font-semibold text-lg"
            >
                Sunday
                <p class="text-600 text-sm">12</p>
            </div>
        </div>
        <div
            class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border md:mx-2 my-2"
            style="border-radius: 6px"
        >
            <div
                class="flex align-items-center justify-content-center flex-column text-800 font-semibold text-lg"
            >
                Monday
                <p class="text-600 text-sm">13</p>
            </div>
        </div>
        <div
            class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border md:mx-2 my-2"
            style="border-radius: 6px"
        >
            <div
                class="flex align-items-center justify-content-center flex-column text-800 font-semibold text-lg"
            >
                Tuesday
                <p class="text-600 text-sm">14</p>
            </div>
        </div>
        <div
            class="flex align-items-center justify-content-center flex-1 h-6rem font-semibold border-1 surface-border md:mx-2 my-2"
            style="border-radius: 6px"
        >
            <div
                class="flex align-items-center justify-content-center flex-column text-800 font-semibold text-lg"
            >
                Wednesday
                <p class="text-600 text-sm">15</p>
            </div>
        </div>
        <div
            class="flex align-items-center justify-content-center md:flex-1  h-6rem font-semibold border-1 surface-border md:mx-2 my-2"
            style="border-radius: 6px"
        >
            <div
                class="flex align-items-center justify-content-center flex-column text-800 font-semibold text-lg"
            >
                Thursday
                <p class="text-600 text-sm">16</p>
            </div>
        </div>
        <div
            class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border md:mx-2 my-2"
            style="border-radius: 6px"
        >
            <div
                class="flex align-items-center justify-content-center flex-column text-800 font-semibold text-lg"
            >
                Friday
                <p class="text-600 text-sm">17</p>
            </div>
        </div>
        <div
            class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border md:mx-2 my-2"
            style="border-radius: 6px"
        >
            <div
                class="flex align-items-center justify-content-center flex-column text-800 font-semibold text-lg"
            >
                Sunday
                <p class="text-600 text-sm">18</p>
            </div>
        </div>
    </div>
    <ul class="list-none p-0 m-0 mt-3">
        <li
            class="flex md:flex-row md:align-items-center border-1 surface-border p-3 mb-3 mt-2"
            style="border-radius: 6px"
        >
            <span
                class="inline-flex justify-content-center align-items-center mr-4"
            >
                <i class="pi pi-tag"></i>
            </span>
            <div>
                <span class="font-semibold">Sales Meeting</span>
                <p class="font-semibold mt-0 text-sm">9:00 - 10:00 PM</p>
            </div>
        </li>
        <li
            class="flex md:flex-row md:align-items-center border-1 surface-border p-3 mb-3 mt-2"
            style="border-radius: 6px"
        >
            <span
                class="inline-flex justify-content-center align-items-center mr-4"
            >
                <i class="pi pi-palette"></i>
            </span>
            <div>
                <span class="font-semibold">Dashboard UI & UX for Prime</span>
                <p class="font-semibold mt-0 text-sm">10:00 - 11:00 PM</p>
            </div>
            <div
                class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0"
            >
                <div class="text-right ml-3"></div>
            </div>
        </li>
        <li
            class="flex md:flex-row md:align-items-center border-1 surface-border p-3 mb-3 mt-2"
            style="border-radius: 6px"
        >
            <span
                class="inline-flex justify-content-center align-items-center mr-4"
            >
                <i class="pi pi-send"></i>
            </span>
            <div>
                <span class="font-semibold">I will reply to mails</span>
                <p class="font-semibold mb-0 text-sm">12:00 - 13:00 PM</p>
            </div>
            <div
                class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0"
                style="border-radius: 6px"
            >
                <div class="text-right ml-3"></div>
            </div>
        </li>
    </ul>
    <div class="flex justify-content-end">
        <button
            pButton
            pRipple
            type="button"
            label="Add Schedule"
            class="p-button-raised p-button-primary mr-2 mb-2"
        ></button>
    </div>
</div>
<div class="surface-card shadow-2 border-round p-4 mt-3">
    <div class="flex justify-content-between align-items-center mb-5">
        <span class="text-xl text-900 font-semibold">User's Activity</span>
    </div>
    <ul class="list-none p-0 m-0">
        <li
            class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 surface-border mb-3"
            style="border-radius: 6px"
        >
            <div>
                <div>
                    <span
                        class="inline-flex justify-content-center align-items-center"
                    >
                        <span class="font-semibold ml-2">22</span>
                    </span>
                    <span class="font-semibold ml-2"
                        >Augue posuere pellentesque accumsan fames</span
                    >
                </div>
                <p class="font-semibold mt-0 mb-0 text-sm ml-1">
                    Nov<span class="font-semibold p-2">9:00 PM</span>
                </p>
            </div>
            <div
                class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0"
            ></div>
        </li>
        <li
            class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 surface-border mb-3"
            style="border-radius: 6px"
        >
            <div>
                <div>
                    <span
                        class="inline-flex justify-content-center align-items-center"
                    >
                        <span class="font-semibold ml-2">23</span>
                    </span>
                    <span class="font-semibold ml-2"
                        >Scelerisque velit vulputate dignissim sed</span
                    >
                </div>
                <p class="font-semibold mt-0 mb-0 text-sm ml-1">
                    Nov<span class="font-semibold p-2">10:00 PM</span>
                </p>
            </div>
            <div
                class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0"
            >
                <div class="text-right ml-3"></div>
            </div>
        </li>
        <li
            class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 surface-border mb-3"
            style="border-radius: 6px"
        >
            <div>
                <div>
                    <span
                        class="inline-flex justify-content-center align-items-center"
                    >
                        <span class="font-semibold ml-2">24</span>
                    </span>
                    <span class="font-semibold ml-2"
                        >Porttitor accumsan accumsan, duis in</span
                    >
                </div>
                <p class="font-semibold mt-0 mb-0 text-sm ml-1">
                    Nov<span class="font-semibold p-2">11:00 PM</span>
                </p>
            </div>
            <div
                class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0"
            >
                <div class="text-right ml-3"></div>
            </div>
        </li>
        <li
            class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 surface-border mb-3"
            style="border-radius: 6px"
        >
            <div>
                <div>
                    <span
                        class="inline-flex justify-content-center align-items-center"
                    >
                        <span class="font-semibold ml-2">25</span>
                    </span>
                    <span class="font-semibold ml-2"
                        >Cursus porttitor non sit faucibus</span
                    >
                </div>
                <p class="font-semibold mt-0 mb-0 text-sm ml-1">
                    Nov<span class="font-semibold p-2">2:00 PM</span>
                </p>
            </div>
            <div
                class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0"
            >
                <div class="text-right ml-3"></div>
            </div>
        </li>
    </ul>
    <div class="flex justify-content-end">
        <button
            pButton
            pRipple
            type="button"
            cstyle="border-radius: 6px"
            label="View More"
            class="p-button-outlined p-button-secondary mr-2"
        ></button>
    </div>
</div>
