<div class="grid grid-nogutter surface-card px-3 py-4 lg:px-6 lg:py-8 border-1 surface-border" style="border-radius: 6px;">
    <div class="col-12 lg:col-4 mx-auto">
        <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex"></p-steps>
    </div>
    <div class="col-12 mt-6 lg:p-8 lg:pb-4">
        <router-outlet></router-outlet>
    </div>
    <div class="col-12 flex justify-content-center align-items-center">
        <button pButton class="p-button-outlined mr-4 px-6 py-3 font-bold" style="border-radius: 6px;" label="Back" (click)="navigate('prev')" [disabled]="activeIndex === 0"></button>
        <button pButton class="p-button-primary px-6 py-3 font-bold" style="border-radius: 6px;" label="Next" (click)="navigate('next')" [disabled]="activeIndex === 2"></button>
    </div>
</div>