:host ::ng-deep {
    .p-paginator {
        background: transparent;
        border: 0 none;
        margin-top: 2rem;

        button {
            border: 1px solid var(--surface-border);
        }

        .p-paginator-pages > button {
            border: 1px solid var(--surface-border);
        }
    }

    .p-button-icon-only {
        height: 2.5rem;
    }

    .p-dataview {
        .p-dataview-header {
            background: transparent;
            border: 0 none;
        }

        .p-dataview-content {
            background: transparent;
        }

    }

    .chip-remove-icon {
        width: 1.5rem;
        height: 1.5rem;

        i {
            font-size: 9px;
        }
    }

    .p-fileupload {
        padding: 0;

        .p-fileupload-buttonbar {
            display: none;
        }

        .p-fileupload-content {
            border: 0 none;
        }

        .p-fileupload-row {
            display: none;
        }
    }
}