.layout-sidebar-right {
    width: 16rem;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    padding: 1rem;
    overflow: auto;
    background: var(--surface-overlay);
    z-index: 999;
    border-left: var(--surface-border);
    transform: translateX(100%);
    transition: transform .4s cubic-bezier(.05,.74,.2,.99);

    &.layout-sidebar-right-active {
        box-shadow: $sidebarShadow;
        transform: translateX(0);
    }
}

@import './_sidebar_right_demo';