<form autocomplete="off" [formGroup]="frmCategoria">
    <div class="grid -mt-3">
        <div class="card col-12 sm:col-12 md:col-4 p-fluid">
            <h3>{{categoriasService.nombreTituloSignal()}}</h3>
            <div class="field -mt-2">
                <label>Nombre</label>
                <div class="p-inputgroup md:w-10  h-2rem">
                    <input formControlName="nombre" type="text" pInputText (input)="changeTextToUppercase('nombre')" />
                </div>
            </div>
            <div class="md:field mt-2">
                <label class="md:block">Estado </label>
                <div class="md:w-10">
                    <p-dropdown formControlName="estado" [options]="itemsEstado"
                        placeholder="Selecciona una opción"></p-dropdown>
                </div>
            </div>

            <div class="flex mt-2 h-2rem md:w-8">
                <button pButton pRipple label="Regresar" class="p-button-info mr-2 border-round"
                    icon="pi pi-fw pi-angle-left" pTooltip="Regresar" (click)="regresar()"></button>
                <button pButton pRipple [label]="
                categoriasService.esNuevaCategoriaSignal()
                    ? 'Guardar'
                    : 'Editar'
            " class="p-button-info mr-2 border-round" icon="pi pi-fw pi-save" pTooltip="Guardar"
                    (click)="guardar()"></button>

            </div>
        </div>
    </div>
</form>