<div class="card  md:w-25rem  overflow-hidden">
    <div class="flex justify-content-between align-items-center w-full  h-3rem">
        <p-inplace #inplace [closable]="false" closeIcon="pi pi-check" styleClass="h-auto">
            <ng-template pTemplate="display">
                <span class="block text-900 font-semibold mt-4 pl-2 text-lg" pTooltip="Click to edit"
                    style="word-break: break-word;" tooltipPosition="top">{{ seccion.sec_nombre }}</span>
            </ng-template>
            <ng-template pTemplate="content">
                <input #inputEl type="text" [value]="seccion.sec_nombre" [(ngModel)]="seccion.sec_nombre"
                    pInputText class="w-10rem sm:w-15rem h-3rem text-900 text-lg"
                    (keydown.enter)="inplace.deactivate()" />
            </ng-template>
        </p-inplace>

        <div>
            <button pButton pRipple type="button" icon="pi pi-times"
                class="p-button-rounded p-button-text p-button-secondary" (click)="eliminarSeccion(seccion)"></button>

        </div>

    </div>

    <div class="flex flex-column gap-5 overflow-y-auto  mt-4 scrollable kanban-list" cdkDropList #listEl
        style="min-height:2rem">

        <app-crear-pregunta-respuesta-encuesta cdkDrag cdkDragHandle (click)="onPreguntaClick($event, pregunta)"
            *ngFor="let pregunta of seccion.preguntas; let i = index" [pregunta]="pregunta"
            [seccion]="seccion"></app-crear-pregunta-respuesta-encuesta>
    </div>



    <div class="px-4 mb-3 w-full mt-4 flex">
        <button pButton pRipple label="NUEVA PREGUNTA" icon="pi pi-plus font-semibold"
            class="py-3 justify-content-center font-semibold w-full border-round"
            (click)=" mostrarTipoPregunta()"></button>
    </div>

</div>
<p-dialog header="Crear/Editar Pregunta" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }">
    <app-editar-pregunta [preguntaSelected]="preguntaSelected"></app-editar-pregunta>
    <div class="flex justify-content-end mt-2">
        <p-button label="Hecho" (click)="visible = false" />
    </div>
</p-dialog>

<p-dialog header="Elegir tipo de pregunta" [modal]="true" [(visible)]="visibleTipoPregunta">
    <form autocomplete="off" [formGroup]="frmTipoPregunta">
        <div class="grid -mt-3">
            <div class="card col-12 sm:col-12 md:col-12 p-fluid">
           
                <div class="md:field mt-2">
                    <label class="md:block">Tipo pregunta: </label>
                    <div class="md:w-10">
                        <p-dropdown formControlName="tipoPregunta" [options]="itemsEstado"
                            placeholder="Selecciona una opción"></p-dropdown>
                    </div>
                </div>
    
                <div class="flex mt-2 h-2rem md:w-8">
                    <button pButton pRipple label="Continuar" class="p-button-info mr-2 border-round"
                        icon="pi pi-fw pi-angle-left" pTooltip="Regresar" (click)="agregarPregunta()"></button>
                    
    
                </div>
            </div>
        </div>
    </form>

</p-dialog>