<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h6 class="font-semibold">Basic Details</h6>
            <div class="flex flex-column sm:flex-row mt-2 sm:mt-4">
                <div class="flex flex-grow-1 flex-column mr-0 mt-2 sm:mr-3 sm:mt-0">
                    <label class="mb-2 text-600 font-semibold mt-2" for="name">Name</label>
                    <div class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input class="pl-5 h-3rem" style="border-radius: 6px;" id="name" type="text" pInputText
                            value="Amsterdam" />
                    </div>
                </div>
                <div class="flex flex-grow-1 flex-column mt-2 sm:mt-0">
                    <label class="mb-2 text-600 font-semibold mt-2" for="email">Email Adress</label>
                    <div class="p-input-icon-left">
                        <i class="pi pi-envelope"></i>
                        <input class="pl-5 h-3rem" style="border-radius: 6px;" id="email" type="text" pInputText
                            value="janecooper@gmail.com" />
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="mt-2 sm:mt-4 p-fluid">
                    <div class="flex flex-column sm:flex-row">
                        <div class="flex flex-grow-1 flex-column mr-0 mt-2 sm:mr-3 sm:mt-0">
                            <label class="mb-2 text-600 font-semibold" for="phoneNumber">Phone Number</label>
                            <div class="p-input-icon-left">
                                <i class="pi pi-phone"></i>
                                <input class="pl-5 h-3rem" style="border-radius: 6px;" id="phoneNumber" type="text"
                                    pInputText value="31 20 779 8986" />
                            </div>
                        </div>
                        <div class="flex flex-grow-1 flex-column mt-2 sm:mt-0">
                            <label class="mb-2 text-600 font-semibold" for="address">Address</label>
                            <div class="p-input-icon-left">
                                <i class="pi pi-map-marker"></i>
                                <input class="pl-5 h-3rem" style="border-radius: 6px;" id="address" type="text"
                                    pInputText value="Jacob Obrechtstraat 5, 1071 KC " />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column sm:flex-row mt-2 sm:mt-4">
                        <div class="flex flex-grow-1 flex-column mr-0 mt-2 sm:mr-3 sm:mt-0">
                            <label class="mb-2 text-600 font-semibold" for="state/region">State/Region</label>
                            <div class="p-input-icon-left">
                                <i class="pi pi-map-marker"></i>
                                <input class="pl-5 h-3rem" style="border-radius: 6px;" id="state/region" type="text"
                                    pInputText value="Amsterdam" />
                            </div>
                        </div>
                        <div class="flex flex-grow-1 flex-column mt-2 sm:mt-0">
                            <label class="mb-2 text-600 font-semibold" for="country">Country</label>
                            <div class="p-input-icon-left">
                                <i class="pi pi-map-marker"></i>
                                <input class="pl-5 h-3rem" style="border-radius: 6px;" id="country" type="text"
                                    pInputText value="Netherlands" />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column mt-2 md:mt-2 sm:mt-4">
                        <label class="mb-2 text-600 font-semibold" for="biography">Biography</label>
                        <textarea rows="5" style="border-radius: 6px;" id="biography"
                            pInputTextarea>I specialise in UI/UX design.</textarea>
                    </div>
                </div>
            </div>
            <div class="flex justify-content-end ">
                <button class="mt-4 w-auto" pButton label="Save Changes"></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <h6 class="font-semibold">Basic Details</h6>
            <div class="mt-2 sm:mt-4">
                <label class="text-600 font-semibold" for="account">Account</label>
                <div class="w-full mt-2 flex flex-column md:flex-row justify-content-between md:mr-2">
                    <div class="flex flex-1 justify-content-between align-items-center border-1 surface-border p-2 md:mr-2"
                        style="border-radius: 6px;">
                        <span  class="text-600 font-semibold " >Push Notifacitons</span>
                        <p-inputSwitch [(ngModel)]="pushNotifacitons"></p-inputSwitch>
                    </div>
                    <div class="flex flex-1 justify-content-between align-items-center border-1 surface-border p-2 mt-2 md:ml-2 md:mt-0"
                        style="border-radius: 6px;">
                        <span class="text-600 font-semibold"> SMS Notifications</span>
                        <p-inputSwitch [(ngModel)]="smsNotifications"></p-inputSwitch>
                    </div>
                </div>

            </div>
            <div class="field">
                <div class="mt-2 sm:mt-4 p-fluid">
                    <div class="mt-2 sm:mt-4">
                        <label class="text-600 font-semibold" for="account">Mailing</label>
                        <div class="w-full mt-2 flex flex-column md:flex-row justify-content-between ">
                            <div class="flex flex-1 justify-content-between align-items-center border-1 surface-border p-2 md:mr-2"
                                style="border-radius: 6px;">
                                <span class="text-600 font-semibold ">Only Download</span>
                                <p-inputSwitch [(ngModel)]="onlyDownload"></p-inputSwitch>
                            </div>
                            <div
                                class="flex flex-1 justify-content-between align-items-center border-1 surface-border p-2 mt-2 md:ml-2 md:mt-0"
                                style="border-radius: 6px;">
                                <span class="text-600 font-semibold ">Dark Mode</span>
                                <p-inputSwitch [(ngModel)]="darkMode"></p-inputSwitch>

                            </div>
                        </div>
                        <div class="mt-2 sm:mt-4">
                            <label class="text-600 font-semibold" for="account">Profile</label>
                            <div class="w-full mt-2 flex flex-column md:flex-row justify-content-between">
                                <div class="flex flex-1 justify-content-between align-items-center border-1 surface-border md:mr-2 p-2"
                                    style="border-radius: 6px;">
                                    <span class="text-600 font-semibold ">Subscribe to newsletter</span>
                                    <p-inputSwitch [(ngModel)]="subscribeToNewsletter"></p-inputSwitch>
                                </div>
                                <div class="flex flex-1 justify-content-between align-items-center border-1 surface-border p-2 mt-2 md:ml-2 md:mt-0"
                                    style="border-radius: 6px;">
                                    <span class="text-600 font-semibold ">Monthly product updates</span>
                                    <p-inputSwitch [(ngModel)]="monthlyProductUpdates"></p-inputSwitch>
                                </div>
                            </div>
                            <div class="mt-2 sm:mt-4">
                                <label class="text-600 font-semibold" for="account">Theme</label>
                                <div class="w-full mt-2 flex flex-column md:flex-row justify-content-between">
                                    <div class="flex flex-1 justify-content-between align-items-center border-1 surface-border md:mr-2 p-2"
                                        style="border-radius: 6px;">
                                        <span class="text-600 font-semibold ">Messages</span>
                                        <p-inputSwitch [(ngModel)]="messages"></p-inputSwitch>
                                    </div>
                                    <div class="flex flex-1 justify-content-between align-items-center border-1 surface-border p-2 mt-2 md:ml-2 md:mt-0"
                                        style="border-radius: 6px;">
                                        <span class="text-600 font-semibold"> Dark Mode</span>
                                        <p-inputSwitch [(ngModel)]="darkMode"></p-inputSwitch>
                                    </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="w-full mt-2 flex flex-column md:flex-row justify-content-between">
                                        <div class="flex flex-1 justify-content-between align-items-center border-1 surface-border md:mr-2 p-2"
                                            style="border-radius: 6px;">
                                            <span class="text-600 font-semibold ">Email Notifications</span>
                                            <p-inputSwitch [(ngModel)]="pushNotifacitons"></p-inputSwitch>
                                        </div>
                                        <div class="flex flex-1 justify-content-between align-items-center border-1 surface-border p-2 mt-2 md:ml-2 md:mt-0"
                                            style="border-radius: 6px;">
                                            <span class="text-600 font-semibold ">Dark Mode</span>
                                            <p-inputSwitch [(ngModel)]="darkMode"></p-inputSwitch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-content-end ">
                                <button class="mt-4 w-auto" pButton label="Save Changes"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
