<div class="grid grid-nogutter px-0 py-4 lg:px-8 lg:py-8 surface-card border-1 surface-border" style="border-radius: 6px;">
    <div class="col-12">
        <span class="block text-2xl font-bold text-900">Timeline</span>
        <span class="block text-xl font-semibold text-indigo-300 mt-3">Enim viverra turpis dictum massa dictum maecenas arcu, curabitur.</span>
    </div>

    <div class="col-12 lg:col-5 mt-5">
        <div class="flex cursor-pointer w-full h-6rem" *ngFor="let item of timelineContent; let i = index;" style="border-radius: 6px;" (click)="selectedIndex = i;" [ngClass]="{'bg-primary' : selectedIndex === i}">
            <div class="flex flex-column align-items-center ml-3" style="width:2rem">
                <div class="h-full border-dashed border-1 surface-border" style="min-height: 1.5rem" [ngStyle]="{'visibility': i == 0 || selectedIndex == i ? 'hidden' : 'visible'}"></div>
                <span class="text-900 flex align-items-center justify-content-center border-2 border-circle border-900" [ngClass]="{'border-white': selectedIndex === i}" style="min-width:1.5rem; min-height: 1.5rem">
                    <i class="pi pi-fw pi-arrow-right font-bold" [ngClass]="{'text-0': selectedIndex === i, 'text-900': selectedIndex !== i}"></i>
                </span>
                <div class="h-full border-dashed border-1 surface-border" style="min-height: 1.5rem" [ngStyle]="{'visibility': i == timelineContent.length - 1 || selectedIndex == i ? 'hidden' : 'visible'}"></div>
            </div>
    
            <div class="ml-0 lg:ml-5 p-2 flex align-items-center">
                <i [class]="item.icon" class="text-3xl mr-3" [ngClass]="{'text-0': selectedIndex === i, 'text-600': selectedIndex !== i}"></i>
                <div>
                    <span class="font-bold block ml-2" [ngClass]="{'text-0': selectedIndex === i, 'text-900': selectedIndex !== i}">{{item.title}}</span>
                    <span class="font-semibold block ml-2" [ngClass]="{'text-0': selectedIndex === i, 'text-600': selectedIndex !== i}">{{item.info}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
