<div class="layout-topbar">
    <div class="topbar-left">
        <a #menubutton tabindex="0" class="menu-button p-trigger" (click)="onMenuButtonClick()">
            <i class="pi pi-chevron-left"></i>
        </a>
        <img class="horizontal-logo" [routerLink]="['/']" [src]="'assets/layout/images/logo-'+ logo + '.svg'" alt="diamond-layout"/>
        <span class="topbar-separator"></span>
        <app-breadcrumb></app-breadcrumb>
        <img class="mobile-logo" [src]="'assets/layout/images/logo-'+ logo + '.svg'" alt="diamond-layout"/>
    </div>
    
    <app-sidebar></app-sidebar>
    <div class="layout-mask modal-in"></div>

    <div class="topbar-right">
        <ul class="topbar-menu">
            <li class="search-item">
                <a tabindex="0" (click)="onSearchClick()" class="p-trigger">
                    <i class="pi pi-search"></i>
                </a>
            </li>
            <li class="notifications-item">
                <a tabindex="0" (click)="notificationMenu.toggle($event)">
                    <i class="pi pi-bell"></i>
                    <span class="topbar-badge">5</span>
                </a>
                <p-menu #notificationMenu [popup]="true" [model]="notificationMenuItems" appendTo="body" styleClass="w-full sm:w-19rem p-3 mt-3"></p-menu>
            </li>

            <li class="profile-item">
                <a (click)="userMenu.toggle($event)">
                    <img src="assets/demo/images/avatar/profile.jpg" alt="diamond-layout" class="profile-image"/>
                    <span class="profile-name">Amelia Stone</span>
                </a>
                <p-menu #userMenu [popup]="true" [model]="userMenuItems" appendTo="body" styleClass="w-full sm:w-19rem p-3 mt-3"></p-menu>
            </li>

            <li class="right-sidebar-item">
                <a tabindex="0" (click)="onRightMenuClick()">
                    <i class="pi pi-align-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
