<div class="grid -mt-5">
    <div class="card col-12 sm:col-9 md:col-12">
        <h5>BUSCAR</h5>
        <form autocomplete="off" [formGroup]="frmBusqueda">
            <div class="p-inputgroup md:w-3 -mt-3 h-2rem">

                <input placeholder="código, nombre" id="float-input" type="text" pInputText
                    formControlName="filtro" />
            </div>
        </form>

        <!-- botones de buscar nuevo y limpiar -->
        <div class="flex mt-2 h-2rem">
            <button pButton pRipple label="Buscar" class="p-button-info mr-2 border-round" icon="pi pi-fw pi-search"
                pTooltip="Buscar" (click)="consultar()"></button>
            <button pButton pRipple label="Nuevo" class="p-button-info mr-2 border-round" icon="pi pi-fw pi-plus"
                pTooltip="Nuevo" (click)="nueva()"></button>
            <button pButton pRipple label="Limpiar" class="p-button-success border-round" icon="pi pi-fw pi-refresh"
                pTooltip="Limpiar" (click)="limpiar()"></button>
        </div>
    </div>
    <div class="card -mt-4 col-12 sm:col-9 md:col-12">
        <div class="table-responsive">
            <p-table [autoLayout]="true" [rowHover]="true" #dt styleClass="p-datatable-sm"
                [value]=" mesasService.mesasListSignal()" [scrollable]="true" responsiveLayout="stack"
                [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>ESTADO</th>
                        <th>EDITAR</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns">
                    <tr class="h-2rem">
                        <td>
                            {{ item.id_mesa }}
                        </td>
                        <td>
                            {{ item.nombre_mesa }}
                        </td>
                        <td>
                            {{ item.estado_mesa }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-check"
                                    class="p-button-rounded p-button-success p-button-sm" pTooltip="Seleccionar"
                                    tooltipPosition="bottom" size="small" (click)="editar(item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>



<!-- <pre> ok {{ mesasService.mesasListSignal()| json }}</pre> -->