<div class="surface-card shadow-2 border-round p-4">
    <div class="flex justify-content-between flex-column md:flex-row md:align-items-center surface-border border-none p-3 mb-3 mt-2"
        style="border-radius: 6px">
        <div class="flex align-items-center mr-4 align-self-center md:align-self-auto" >
            <p-avatar image="assets/demo/images/avatar/profile.jpg" size="xlarge" shape="circle"></p-avatar>
            <div>
                <span class="font-semibold white-space-nowrap ml-3">Jane Cooper</span>
                <p class="font-semibold mt-0 mb-0 text-sm ml-3 text-500">UI/UX Designer</p>
            </div>
        </div>
        <div class="flex flex-row align-self-center md:align-self-auto md:mt-0 mt-3">
        <div class="flex flex-column md:flex-row md:mt-0 mt-3">
            <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0 m-3"
                style="border-radius: 6px">
                <i class="pi pi-dollar"></i>
            </div>
            <div class="text-sm font-semibold md:mt-0 mt-2 ">
                <span>$6200</span>
                <p class="text-500 font-semibold">Revenue</p>
            </div>
            <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0 m-3"
                style="border-radius: 6px">
                <i class="pi pi-euro"></i>
            </div>
            <div class="text-sm font-semibold md:mt-0 mt-2">
                <span>$6200</span>
                <p class="text-500 font-semibold">Expenses</p>
            </div>
        </div>
        <div>
            <div class="flex flex-column md:flex-row md:mt-0 mt-3">
            <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0 m-3"
                style="border-radius: 6px">
                <i class="pi pi-thumbs-up"></i>
            </div>
            <div class="text-sm font-semibold md:mt-0 mt-2 ">
                <span>$6200</span>
                <p class="text-500 font-semibold">Success Rate</p>
            </div>
            <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0 m-3"
                style="border-radius: 6px">
                <i class="pi pi-euro"></i>
            </div>
            <div class="text-sm font-semibold md:mt-0 mt-2">
                <span>$6200</span>
                <p class="text-500 font-semibold">Expenses</p>
            </div>
        </div>
        </div>
        </div>
    </div>
    <div class="flex flex-column md:flex-row align-items-center">
        <div class="list-none flex flex-row  ">
            <a
                class="cursor-pointer flex-start w-8rem px-4 h py-3 flex  hover:surface-100 border-round transition-colors transition-duration-150">
                <a routerLink="overview">Overview</a>
            </a>
            <a
                class="cursor-pointer flex-start w-8rem px-4 py-3 flex  hover:surface-100 border-round transition-colors transition-duration-150">
                <a routerLink="/">Notifications</a>
            </a>

        </div>
        <div class=" list-none flex flex-row  align-items-center">
            <a
                class="cursor-pointer flex-start w-8rem px-4 py-3 flex  hover:surface-100 border-round transition-colors transition-duration-150">
                <a routerLink="settings">Settings</a>
            </a>
            <a
                class="cursor-pointer flex-start w-8rem px-4 py-3 flex  hover:surface-100 border-round transition-colors transition-duration-150">
                <a routerLink="/">Sales</a>
            </a>
        </div>
        <div class=" list-none flex flex-row  align-items-center">
            <a
                class="cursor-pointer flex-start w-8rem px-4 py-3 flex hover:surface-100 border-round transition-colors transition-duration-150">
                <a routerLink="/">Plan</a>
            </a>
            <a
                class="cursor-pointer  flex-start w-8rem

                px-4 py-3 flex  hover:surface-100 border-round transition-colors transition-duration-150">
                <a routerLink="followers">Followers</a>
            </a>

        </div>
    </div>
    <router-outlet></router-outlet>

