<div class="surface-card shadow-2 border-round p-4">
    <div class="flex md:flex-row md:align-items-center border-none surface-border border-none p-3 mb-3 mt-2"
        style="border-radius: 6px">
        <div class="flex align-items-center mr-4">
            <p-avatar image="assets/demo/images/avatar/profile.jpg" size="xlarge" shape="circle"></p-avatar>
            <div>
                <span class="font-semibold">Jane Cooper</span>
                <p class="font-semibold mt-0 mb-0 text-sm">UI/UX Designer</p>
            </div>
        </div>
        <div class="flex">
            <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0"
                style="border-radius: 6px">
                <i class="pi pi-dollar"></i>
            </div>
            <div>
                <span>$6200</span>
                <p>Revenue</p>
            </div>
            <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0"
                style="border-radius: 6px">
                <i class="pi pi-euro"></i>
            </div>
            <div>
                <span>$6200</span>
                <p>Revenue</p>
            </div>
            <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0"
                style="border-radius: 6px">
                <i class="pi pi-thumbs-up"></i>
            </div>
            <div>
                <span>$6200</span>
                <p>Revenue</p>
            </div>
            <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0"
                style="border-radius: 6px">
                <i class="pi pi-euro"></i>
            </div>
            <div>
                <span>$6200</span>
                <p>Revenue</p>
            </div>
        </div>
    </div>
    <ul class="p-2 m-0 list-none flex">
        <li class="mr-2">
            <a
                class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150">
                <a routerLink="overview">Overview</a>
            </a>
        </li>
        <li class="mr-2">
            <a
                class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150">
                <a href="/">Notifications</a>
            </a>
        </li>
        <li class="mr-2">
            <a
                class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150">
                <a href="/">Security</a>
            </a>
        </li>
        <li class="mr-2">
            <a
                class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150">
                <a href="/">Sales</a>
            </a>
        </li>
        <li>
            <a
                class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150">
                <a href="/">Plan</a>
            </a>
        </li>
        <li>
            <a
                class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150">
                <a routerLink="followers">Followers</a>
            </a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>