<div class="surface-section p-4 border-1 surface-border" style="border-radius: 6px;">
    <div
        class="flex justify-content-between flex-column md:flex-row md:align-it ems-center border-bottom-1 surface-border p-3 mb-3 mt-2">
        <div class="flex align-items-center mr-4 align-self-center md:align-self-auto flex-column md:flex-row">
            <img src="assets/demo/images/5.svg" style="width: 5rem " class="mb-3" />

            <div class="flex flex-column ">
                <span class="font-semibold white-space-nowrap ml-3">Jane Cooper</span>
                <p class="font-semibold mt-0 mb-0 text-sm ml-3 text-500">UI/UX Designer</p>
            </div>
        </div>
        <div class="flex md:flex-row flex-column">
            <div class="flex align-self-center align-items-center justify-content-end">
                <div class="flex flex-row md:mt-0 mt-2">
                    <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0 m-3"
                        style="border-radius: 6px">
                        <i class="pi pi-dollar"></i>
                    </div>
                    <div class="text-sm flex align-items-center justify-content-center flex-column font-semibold md:mt-0 mt-2">
                        <span>$6200</span>
                        <p class="text-500 font-semibold">Revenue</p>
                    </div>
                </div>
                <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0 m-3"
                    style="border-radius: 6px">
                    <i class="pi pi-euro"></i>
                </div>
                <div class="text-sm flex align-items-center justify-content-center flex-column font-semibold md:mt-0 mt-2">
                    <span>$6200</span>
                    <p class="text-500 font-semibold">Expenses</p>
                </div>
            </div>
            <div class="flex align-self-center align-items-center justify-content-end">
                <div class="flex  md:mt-0 mt-2">
                    <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0 m-3"
                        style="border-radius: 6px">
                        <i class="pi pi-thumbs-up"></i>
                    </div>
                    <div class="text-sm flex align-items-center justify-content-center flex-column font-semibold md:mt-0 mt-2">
                        <span>$6200</span>
                        <p class="text-500 font-semibold">Success </p>
                    </div>
                </div>
                <div class="border-1 surface-border p-3 inline-flex align-items-center mt-0 mb-0 m-3"
                    style="border-radius: 6px">
                    <i class="pi pi-euro"></i>
                </div>
                <div class="text-sm flex align-items-center justify-content-center flex-column font-semibold md:mt-0 mt-2">
                    <span>$6200</span>
                    <p class="text-500 font-semibold">Expenses</p>
                </div>
            </div>
        </div>
    </div>
    <ul class="surface-card p-0 m-0 list-none flex overflow-x-auto select-none">
        <li class="mr-2">
            <div class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 transition-colors transition-duration-150"
                style="border-radius: 6px;">
                <a routerLink="overview">Overview</a>
            </div>
        </li>
        <li class="mr-2">
            <a pRipple
                class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100  transition-colors transition-duration-150"
                style="border-radius: 6px;">

                <span class="font-medium">Notifications</span>
            </a>
        </li>
        <li class="mr-2">
            <a pRipple
                class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100  transition-colors transition-duration-150"
                style="border-radius: 6px;">

                <span class="font-medium">Integrations</span>
            </a>
        </li>
        <li class="mr-2">
            <a pRipple
                class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100  transition-colors transition-duration-150"
                style="border-radius: 6px;">

                <span class="font-medium">Sales</span>
            </a>
        </li>
        <li class="mr-2">
            <a class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 transition-colors transition-duration-150"
                style="border-radius: 6px;">

                <a routerLink="settings">Settings</a>

            </a>
        </li>
        <li>
            <a
                class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150">

                <a routerLink="followers">Followers</a>
            </a>
        </li>
    </ul>



</div>
<div class="mt-6">
    <router-outlet></router-outlet>
</div>
