<div class="surface-section px-4 py-4 md:px-6 lg:px-5 lg:py-5 border-1 surface-border" style="border-radius: 6px;">
    <div class="flex flex-column sm:flex-row justify-content-between align-items-center mb-4 ">
        <span class="text-xl text-900 font-semibold mb-2 md:mb-0">Blog List</span>
        <p-dropdown [options]="sort" [(ngModel)]="selectedSort" placeholder="Sort by" optionLabel="name"
            [style]="{ 'min-width': '10rem' }"></p-dropdown>
    </div>
    <div class="grid">
        <div *ngFor="let blog of paginatedBlogs" class="col-12 md:col-6 xl:col-4 p-3">
            <div class="surface-section border-1 surface-border relative z-index" style="border-radius: 6px">
                <img [src]="blog.image" class="mb-3 w-full" />
                <img [src]="blog.profile" class="flex absolute w-6rem h-6rem " style="top: 160px; right: 18px;">
                <div class="flex justify-content-between align-items-start">
                </div>
                <div class="list-none m-0 p-3">
                    <div class="px-0 py-2 flex justify-content-between align-items-center">
                        <p class="text-900 font-bold text-md">{{blog.title}}</p>
                    </div>
                    <div class="px-0 py-2 flex justify-content-between align-items-center">
                        <p class="text-800 font-semibold text-sm">Ornare egestas pellentesque facilisis in a ultrices
                            erat
                            diam metus integer sed</p>
                    </div>
                    <div class="px-0 py-2 flex align-items-center">
                        <div class="mr-2">
                            <i class="pi pi-comment mr-2"></i>
                            <span class="text-900 font-medium text-sm">{{blog.comment}}</span>
                        </div>
                        <div class="mr-2">
                            <i class="pi pi-share-alt mr-2"></i>
                            <span class="text-900 font-medium text-sm">{{blog.share}}</span>
                        </div>
                        <div class="mr-2">
                            <i class="pi pi-clock mr-2"></i>
                            <span class="text-900 font-medium text-sm">{{blog.day}}</span>
                            <span class="text-900 font-medium text-sm">{{blog.mounth}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-paginator [rows]="rowCount" [totalRecords]="totalBlogs.length" (onPageChange)="paginate($event)" [showFirstLastIcon]="false"></p-paginator>

