<div class="grid">
    <div class="col-12 md:col-6 sm:col-6 xl:col-3 p-3">
        <div class="surface-section border-1 surface-border  p-4" style="border-radius: 6px;">
            <div class="flex flex-column  align-items-center mb-3 ">
                <img src="assets/demo/images/image.svg" style="width: 6rem"  class="mb-3" />
                <span class="font-medium font-bold text-900 text-xl mb-0">Jane Fox</span>
                <span class="text-center text-700 font-semibold mb-2">Project Manager</span>
                <span class="text-700 font-semibold surface-200 py-1 px-4" style="border-radius: 6px">Contributor</span>
            </div>
            <div class="pt-3 border-top-1 surface-border flex">
                <button pButton pRipple type="button" icon="pi pi-plus ml-2" label="Follow" class="flex-auto mr-2 p-button p-button-plain" style="border-radius: 6px"></button>
                <button pButton pRipple type="button" icon="pi pi-envelope ml-2" label="Message" class="flex-auto ml-2 p-button p-button-plain" style="border-radius: 6px"></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 sm:col-6 xl:col-3 p-3">
        <div class="surface-section border-1 surface-border  p-4" style="border-radius: 6px;">
            <div class="flex flex-column align-items-center mb-3">
                <img src="assets/demo/images/2.svg" style="width: 6rem " class="mb-3" />
                <span class=" font-bold text-900 text-xl mb-0">Eleanor Pena</span>
                <span class="text-center text-700 font-semibold mb-2 ">UI/UX Designer</span>
                <span class="text-700 font-semibold surface-200 py-1 px-4" style="border-radius: 6px">Subscriber</span>
            </div>
            <div class="pt-3 border-top-1 surface-border flex">
                <button pButton pRipple type="button" icon="pi pi-plus ml-2" label="Follow" class="flex-auto mr-2 p-button p-button-plain" style="border-radius: 6px"></button>
                <button pButton pRipple type="button" icon="pi pi-envelope ml-2" label="Message" class="flex-auto ml-2 p-button p-button-plain" style="border-radius: 6px"></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 sm:col-6 xl:col-3 p-3">
        <div class="surface-section border-1 surface-border  p-4" style="border-radius: 6px;">
            <div class="flex flex-column align-items-center mb-3">
                <img src="assets/demo/images/5.svg" style="width: 6rem " class="mb-3" />
                <span class="font-bold text-900 text-xl mb-0">Devon Lane</span>
                <span class="text-center text-700 font-semibold mb-2 ">Project Manager</span>
                <span class="text-700 font-semibold surface-200 py-1 px-4" style="border-radius: 6px">Author</span>
            </div>
            <div class="pt-3 border-top-1 surface-border flex">
                <button pButton pRipple type="button" icon="pi pi-plus ml-2" label="Follow" class="flex-auto mr-2 p-button p-button-plain" style="border-radius: 6px"></button>
                <button pButton pRipple type="button" icon="pi pi-envelope ml-2" label="Message" class="flex-auto ml-2 p-button p-button-plain" style="border-radius: 6px"></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 sm:col-6 xl:col-3 p-3">
        <div class="surface-section border-1 surface-border  p-4" style="border-radius: 6px;">
            <div class="flex flex-column align-items-center mb-3">
                <img src="assets/demo/images/image-2.svg" style="width: 6rem "  class="mb-3" />
                <span class="font-bold text-900 text-xl mb-0">Bessie Cooper</span>
                <span class="text-center text-700 font-semibold mb-2">Software Development Manager</span>
                <span class="text-700 font-semibold surface-200  py-1 px-4" style="border-radius: 6px">Contributor</span>
            </div>
            <div class="pt-3 border-top-1 surface-border flex">
                <button pButton pRipple type="button" icon="pi pi-plus ml-2" label="Follow" class="flex-auto mr-2 p-button p-button-plain" style="border-radius: 6px"></button>
                <button pButton pRipple type="button" icon="pi pi-envelope ml-2" label="Message" class="flex-auto ml-2 p-button p-button-plain" style="border-radius: 6px"></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 sm:col-6 xl:col-3 p-3">
        <div class="surface-section border-1 surface-border  p-4" style="border-radius: 6px;">
            <div class="flex flex-column align-items-center mb-3">
                <img src="assets/demo/images/5.svg" style="width: 6rem "  class="mb-3" />
                <span class="font-bold text-900 text-xl mb-0">Devon Lane</span>
                <span class="text-center text-700 font-semibold mb-2">Project Manager</span>
                <span class="text-700 font-semibold surface-200 py-1 px-4" style="border-radius: 6px">Author</span>
            </div>
            <div class="pt-3 border-top-1 surface-border flex">
                <button pButton pRipple type="button" icon="pi pi-plus ml-2" label="Follow" class="flex-auto mr-2 p-button p-button-plain" style="border-radius: 6px"></button>
                <button pButton pRipple type="button" icon="pi pi-envelope ml-2" label="Message" class="flex-auto ml-2 p-button p-button-plain" style="border-radius: 6px"></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 sm:col-6 xl:col-3 p-3">
        <div class="surface-section border-1 surface-border   p-4" style="border-radius: 6px;">
            <div class="flex flex-column align-items-center mb-3">
                <img src="assets/demo/images/image-3.svg" style="width: 6rem "  class="mb-3" />
                <span class="font-bold text-900 text-xl mb-0">Bessie Cooper</span>
                <span class="text-center text-700 font-semibold mb-2">Software Development Manager</span>
                <span class="text-700  surface-200 font-semibold py-1 px-4" style="border-radius: 6px">Subscriber</span>
            </div>
            <div class="pt-3 border-top-1 surface-border flex">
                <button pButton pRipple type="button" icon="pi pi-plus ml-2" label="Follow" class="flex-auto mr-2 p-button p-button-plain" style="border-radius: 6px"></button>
                <button pButton pRipple type="button" icon="pi pi-envelope ml-2" label="Message" class="flex-auto ml-2 p-button p-button-plain" style="border-radius: 6px"></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 sm:col-6 xl:col-3 p-3">
        <div class="surface-section border-1 surface-border   p-4" style="border-radius: 6px;">
            <div class="flex flex-column align-items-center mb-3">
                <img src="assets/demo/images/image.svg" style="width: 6rem "  class="mb-3" />
                <span class="font-bold text-900 text-xl mb-0">Eleanor Pena</span>
                <span class="text-center text-700 font-semibold mb-2">UI/UX Designer</span>
                <span class="text-700  surface-200 font-semibold py-1 px-4" style="border-radius: 6px">Editor</span>
            </div>
            <div class="pt-3 border-top-1 surface-border flex">
                <button pButton pRipple type="button" icon="pi pi-plus ml-2" label="Follow" class="flex-auto mr-2 p-button p-button-plain" style="border-radius: 6px"></button>
                <button pButton pRipple type="button" icon="pi pi-envelope ml-2" label="Message" class="flex-auto ml-2 p-button p-button-plain" style="border-radius: 6px"></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 sm:col-6 xl:col-3 p-3">
        <div class="surface-section border-1 surface-border   p-4" style="border-radius: 6px;">
            <div class="flex flex-column align-items-center mb-3">
                <img src="assets/demo/images/2.svg" style="width: 6rem "  class="mb-3" />
                <span class="font-bold text-900 text-xl mb-0">Robert Fox</span>
                <span class="text-center text-700 font-semibold mb-2">Designer</span>
                <span class="text-700 surface-200 font-semibold py-1 px-4" style="border-radius: 6px">Project Manager</span>
            </div>
            <div class="pt-3 border-top-1 surface-border flex">
                <button pButton pRipple type="button" icon="pi pi-plus ml-2" label="Follow" class="flex-auto mr-2 p-button p-button-plain" style="border-radius: 6px"></button>
                <button pButton pRipple type="button" icon="pi pi-envelope ml-2" label="Message" class="flex-auto ml-2 p-button p-button-plain" style="border-radius: 6px"></button>
            </div>
        </div>
    </div>
</div>
