<div class="col px-0 mt-6">
    <span class="p-input-icon-left h-4rem w-full">
        <i class="pi pi-user" style="left: 1.5rem;"></i>
        <input type="text" pInputText placeholder="Name" class="w-full pl-7 text-900 font-semibold h-full" />
    </span>
</div>
<div class="col px-0">
    <span class="p-input-icon-left h-4rem w-full">
        <i class="pi pi-envelope" style="left: 1.5rem;"></i>
        <input type="text" pInputText placeholder="Email" class="w-full pl-7 text-900 font-semibold h-full" />
    </span>
</div>
<div class="col px-0">
    <textarea rows="7" pInputText placeholder="You can write a comment." class="w-full text-900 font-semibold h-full" style="resize: none"></textarea>
</div>
<div class="flex w-full justify-content-end align-items-center">
    <button pButton pRipple label="Post Comment" class="mt-6"></button>
</div>