<div class="grid">
    <div class="col-12">
        <div class="card p-4">
            <div>
                <h6>Create User</h6>
                <div class="grid formgrid">
                    <div class="col-6">
                        <label for="name">Name</label>
                        <div class="p-input-icon-left w-full mt-2">
                            <i class="pi pi-user"></i>
                            <input id="name" type="text" class="w-full" pInputText value="Jane Cooper" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="email">Email Adress</label>
                        <div class="p-input-icon-left w-full mt-2">
                            <i class="pi pi-envelope"></i>
                            <input id="email" type="text" class="w-full" pInputText value="janecooper@gmail.com" />
                        </div>
                    </div>
                </div>
                <div class="grid formgrid mt-3">
                    <div class="col-12">
                        <label for="biography">Biography</label>
                        <textarea rows="5" class="w-full mt-2" id="biography"
                            pInputTextarea>I’m Product Designer based in Turkey, I specialise in UI/UX design.</textarea>
                    </div>
                </div>
            </div>
            <div class="grid formgrid mt-4">
                <div class="col-6">
                    <label for="phoneNumber">Phone Number</label>
                    <div class="p-input-icon-left w-full mt-2 ">
                        <i class="pi pi-phone"></i>
                        <input id="phoneNumber" type="text" class="w-full" pInputText value="0 543 293 12 53" />
                    </div>
                </div>
                <div class="col-6">
                    <label for="address">Address</label>
                    <div class="p-input-icon-left w-full mt-2">
                        <i class="pi pi-map-marker"></i>
                        <input id="address" type="text" class="w-full" pInputText value="Relax plus" />
                    </div>
                </div>
            </div>
            <div class="grid formgrid mt-4">
                <div class="col-6">
                    <label for="state/region">State/Region</label>
                    <div class="p-input-icon-left w-full mt-2">
                        <i class="pi pi-map-marker"></i>
                        <input id="state/region" type="text" class="w-full" pInputText value="Ankara" />
                    </div>
                </div>
                <div class="col-6">
                    <label for="country">Country</label>
                    <div class="p-input-icon-left w-full mt-2">
                        <i class="pi pi-map-marker"></i>
                        <input id="country" type="text" class="w-full" pInputText value="Turkey" />
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <label for="account">Account</label>
                <div class="grid formgrid w-full mt-2 flex justify-content-between mx-0">
                    <div class="col-4 pl-0">
                        <div class="flex justify-content-between align-items-center border-1 surface-border p-2"
                            style="border-radius: 6px;">
                            <span class="text-600 font-bold p-3">Push Notifacitons</span>
                            <p-inputSwitch [(ngModel)]="pushNotifacitons"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="flex justify-content-between align-items-center border-1 surface-border p-2"
                            style="border-radius: 6px;">
                            <span class="text-600 font-bold p-3">Push Notifacitons</span>
                            <p-inputSwitch [(ngModel)]="pushNotifacitons"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="col-4 pr-0">
                        <div class="flex justify-content-between align-items-center border-1 surface-border p-2"
                            style="border-radius: 6px;">
                            <span class="text-600 font-bold p-3">SMS Notifications</span>
                            <p-inputSwitch [(ngModel)]="smsNotifications"></p-inputSwitch>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-end">
                    <button class="mt-4" pButton label="Create User"></button>
                </div>
            </div>
        </div>
    </div>
</div>
