
<div class="w-full">
    <div *ngFor="let item of tabContent; let i = index;" class="border-1 p-3 mb-3 flex flex-column md:flex-row align-items-start md:align-items-center md:justify-content-between cursor-pointer" (click)="selection = i"
        [ngClass]="{'surface-card surface-border': selection !== i, 'bg-primary border-primary': selection === i}" style="border-radius: 6px;">
        <div class="flex align-items-center mr-0 md:mr-8">
                <i class="mr-4 text-3xl" [class]="item.icon" [ngClass]="{'text-indigo-300': selection !== i}"></i>
            <div>
                <div class="font-medium font-bold text-900" [ngClass]="{'bg-primary': selection === i}">{{item.title}}</div>
                <span class="p-1 border-round font-semibold" [ngClass]="{'text-indigo-300': selection !== i}">{{item.info}}</span>
            </div>
        </div>
        <div>
            <a tabindex="0" class="cursor-pointer text-indigo-300 font-semibold select-none" [ngClass]="{'text-white': selection === i }">View</a>
        </div>
    </div>
</div>